.recipe_image {
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 60%;
  width: auto;
  margin-bottom: 25px;
  border: 10px solid lightgrey;
  box-shadow: 0 28px 20px -26px rgba(0, 0, 0);
}

/* .ingredients__section{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
} */
/* .description_text {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

@media only screen and (min-width: 450px) {
  .recipe_image {
    height: auto;
    width: 300px;
  }
} */
