.recipe_image {
  height: auto;
  max-width: 250px;
  max-height: 300px;
  border-radius: 20%;
  width: auto;
  margin-bottom: 25px;
  border: 5px solid lightgrey;
  box-shadow: 10px 35px 25px -19px rgba(0, 0, 0);
}

@media screen and (max-width: 350px) {
  .recipe_image {
    height: auto;
    max-width: 190px;
    max-height: 200px;
  }
}

@media screen and (max-width: 280px) {
  .recipe_image {
    height: auto;
    max-width: 150px;
    max-height: 200px;
  }
}
