.showcard {
  position: relative;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  bottom: 80px;
}

.home {
  padding-top: 80px;
}

.cardtitle {
  font-family: "Cookie", cursive;
  font-size: 35px;
  font-weight: normal;
}
