.socialIcons {
  display: flex;
  align-items: center;
}



#scroll {
  bottom: 70px;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 4px 0 black, 0 4px 4px 0 grey;
  /* -webkit-animation: seconds 5s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 5s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s; */
}
/* @-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    position: absolute;
  }
} */
